@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    src: url(./Fonts/Poppins-Regular.ttf) format("ttf");
  }
  @font-face {
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
    src: url(./Fonts/Poppins-Medium.ttf) format("ttf");
  }
  @font-face {
    font-family: 'Poppins', 'sans-serif';
    font-weight: 600;
    src: url(./Fonts/Poppins-SemiBold.ttf) format("ttf");
  }
  h1 {
    @apply text-4xl;
  }
}